package/integration_flows/sf_ec_to_wfn_demographic/src/main/resources/wsdl/E2G_importEmployees.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2201="http://data.service.webservices.workforcesoftware.com/xsd" xmlns:ns="http://services.workforcesoftware.com/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2197="http://ws.apache.org/axis2/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2199="http://webservices.workforcesoftware.com/xsd" xmlns:tns="http://services.workforcesoftware.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.workforcesoftware.com">
    <wsdl:documentation>E2G_importEmployees</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2202="http://data.service.webservices.workforcesoftware.com/xsd" xmlns:ax2200="http://webservices.workforcesoftware.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
            <xs:import namespace="http://webservices.workforcesoftware.com/xsd"/>
            <xs:import namespace="http://data.service.webservices.workforcesoftware.com/xsd"/>
            <xs:complexType name="E2g_employee_import_payload">
                <xs:sequence>
                    <xs:element minOccurs="0" name="data" nillable="true" type="ax2197:E2g_employee_import_people"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax2197:E2g_employee_import_properties"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_people">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="person" nillable="true" type="ax2197:E2g_employee_import_person"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_person">
                <xs:sequence>
                    <xs:element minOccurs="0" name="birth_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email_addresses" nillable="true" type="ax2197:E2g_employee_import_email_addresses"/>
                    <xs:element minOccurs="0" name="employee_data" nillable="true" type="ax2197:E2g_employee_import_employee"/>
                    <xs:element minOccurs="0" name="external_hr_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="home_address" nillable="true" type="ax2197:E2g_employee_import_address"/>
                    <xs:element minOccurs="0" name="last_modification_time" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middle_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone_numbers" nillable="true" type="ax2197:E2g_employee_import_phone_numbers"/>
                    <xs:element minOccurs="0" name="user_data" nillable="true" type="ax2197:E2g_employee_import_user"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_email_addresses">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="email_address" nillable="true" type="ax2197:E2g_employee_import_email_address"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_email_address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email_address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_employee">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="assignment" nillable="true" type="ax2197:E2g_employee_import_assignment"/>
                    <xs:element minOccurs="0" name="eff_dated_info" nillable="true" type="ax2197:E2g_employee_import_all_eff_dated_employee_info"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_assignment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assignment_match_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eff_dated_info" nillable="true" type="ax2197:E2g_employee_import_all_eff_dated_assignment_info"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_all_eff_dated_assignment_info">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="ax2197:E2g_employee_import_eff_dated_assignment_info"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_eff_dated_assignment_info">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adjusted_begin_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="assignment_description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="assignment_end_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="badge_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="business_address" nillable="true" type="ax2197:E2g_employee_import_address"/>
                    <xs:element minOccurs="0" name="company_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cost_center" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="department_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="district_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="division_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="effective_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="employment_type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="external_payroll_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="flsa_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fulltime_equivalency_percentage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fulltime_parttime_flag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="generic_fields" nillable="true" type="ax2197:E2g_generic_fields"/>
                    <xs:element minOccurs="0" name="hourly_salary_flag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hr_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="is_earliest_effective_dated" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="is_primary" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="is_terminated" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="job_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="job_level" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="job_title" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="latest_assignment_begin_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="location_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="manager_ids" nillable="true" type="ax2197:E2g_employee_import_manager_ids"/>
                    <xs:element minOccurs="0" name="original_assignment_begin_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pay_currency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pay_grade" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pay_rates" nillable="true" type="ax2197:E2g_employee_import_pay_rates"/>
                    <xs:element minOccurs="0" name="payroll_system_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policy_profile_match_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="region_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="schedule_template_match_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="seniority_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="standard_daily_hours" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="standard_period_hours" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="standard_weekly_hours" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="time_zone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="union_code" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address3" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="postal_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state_or_province" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_generic_fields">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="generic_field" nillable="true" type="ax2197:E2g_generic_field"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_generic_field">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_manager_ids">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="manager_id" nillable="true" type="ax2197:E2g_employee_import_manager_id"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_manager_id">
                <xs:sequence>
                    <xs:element minOccurs="0" name="manager_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_pay_rates">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="pay_rate" nillable="true" type="ax2197:E2g_employee_import_pay_rate"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_pay_rate">
                <xs:sequence>
                    <xs:element minOccurs="0" name="frequency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pay_rate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_all_eff_dated_employee_info">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="ax2197:E2g_employee_import_eff_dated_employee_info"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_eff_dated_employee_info">
                <xs:sequence>
                    <xs:element minOccurs="0" name="act_company" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="act_employee_group" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="act_location" nillable="true" type="ax2197:E2g_employee_import_act_location"/>
                    <xs:element minOccurs="0" name="adjusted_hire_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="effective_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fifty_employees_in_75_mile_radius_flag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fulltime_equivalency_percentage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="generic_fields" nillable="true" type="ax2197:E2g_generic_fields"/>
                    <xs:element minOccurs="0" name="hr_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="is_earliest_effective_dated" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="latest_hire_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="leave_type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="original_hire_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="standard_daily_hours" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="standard_period_hours" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="standard_weekly_hours" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="termination_date" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_act_location">
                <xs:sequence>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="county" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state_or_province" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_phone_numbers">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phone_number" nillable="true" type="ax2197:E2g_employee_import_phone_number"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_phone_number">
                <xs:sequence>
                    <xs:element minOccurs="0" name="phone_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_user">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authentication_match_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="empcenter_login_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="generic_fields" nillable="true" type="ax2197:E2g_generic_fields"/>
                    <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="manager_types" nillable="true" type="ax2197:E2g_employee_import_manager_type"/>
                    <xs:element minOccurs="0" name="user_role_match_id" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_manager_type">
                <xs:sequence>
                    <xs:element minOccurs="0" name="manager_type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_properties">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="property" nillable="true" type="ax2197:E2g_employee_import_property"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="propertyValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="E2G_importEmployeesResult">
                <xs:complexContent>
                    <xs:extension base="ax2199:WSResultObjectBase">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="result" nillable="true" type="ax2197:E2g_employee_import_response"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="E2g_employee_import_response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="jobId" nillable="true" type="ax2201:WSGeneratedId"/>
                    <xs:element minOccurs="0" name="startDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="successful" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.service.webservices.workforcesoftware.com/xsd">
            <xs:complexType name="WSGeneratedId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.workforcesoftware.com/xsd">
            <xs:complexType name="WSResultObjectBase">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detailedErrorMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="operationSuccessful" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="resultCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="resultDescription" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2198="http://ws.apache.org/axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.workforcesoftware.com/xsd">
            <xs:import namespace="http://ws.apache.org/axis2/xsd"/>
            <xs:element name="E2G_importEmployees">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="payload" nillable="true" type="ax2197:E2g_employee_import_payload"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="E2G_importEmployeesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2197:E2G_importEmployeesResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="E2G_importEmployeesRequest">
        <wsdl:part name="parameters" element="ns:E2G_importEmployees"/>
    </wsdl:message>
    <wsdl:message name="E2G_importEmployeesResponse">
        <wsdl:part name="parameters" element="ns:E2G_importEmployeesResponse"/>
    </wsdl:message>
    <wsdl:portType name="E2G_importEmployeesPortType">
        <wsdl:operation name="E2G_importEmployees">
            <wsdl:input message="tns:E2G_importEmployeesRequest" wsaw:Action="urn:E2G_importEmployees"/>
            <wsdl:output message="tns:E2G_importEmployeesResponse" wsaw:Action="urn:E2G_importEmployeesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="E2G_importEmployeesSoap11Binding" type="tns:E2G_importEmployeesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="E2G_importEmployees">
            <soap:operation soapAction="urn:E2G_importEmployees" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="E2G_importEmployeesSoap12Binding" type="tns:E2G_importEmployeesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="E2G_importEmployees">
            <soap12:operation soapAction="urn:E2G_importEmployees" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="E2G_importEmployeesHttpBinding" type="tns:E2G_importEmployeesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="E2G_importEmployees">
            <http:operation location="E2G_importEmployees"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="E2G_importEmployees">
        <wsdl:port name="E2G_importEmployeesHttpsSoap11Endpoint" binding="tns:E2G_importEmployeesSoap11Binding">
            <soap:address location="https://sac-cpisap03-demo.workforcehosting.com/workforce/services/E2G_importEmployees.E2G_importEmployeesHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="E2G_importEmployeesHttpSoap11Endpoint" binding="tns:E2G_importEmployeesSoap11Binding">
            <soap:address location=""/>
        </wsdl:port>
        <wsdl:port name="E2G_importEmployeesHttpsSoap12Endpoint" binding="tns:E2G_importEmployeesSoap12Binding">
            <soap12:address location="https://sac-cpisap03-demo.workforcehosting.com/workforce/services/E2G_importEmployees.E2G_importEmployeesHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="E2G_importEmployeesHttpSoap12Endpoint" binding="tns:E2G_importEmployeesSoap12Binding">
            <soap12:address location=""/>
        </wsdl:port>
        <wsdl:port name="E2G_importEmployeesHttpsEndpoint" binding="tns:E2G_importEmployeesHttpBinding">
            <http:address location="https://sac-cpisap03-demo.workforcehosting.com/workforce/services/E2G_importEmployees.E2G_importEmployeesHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="E2G_importEmployeesHttpEndpoint" binding="tns:E2G_importEmployeesHttpBinding">
            <http:address location=""/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
