package/integration_flows/sf_ec_to_wfn_demographic/src/main/resources/wsdl/EC_API_CompoundEmployee_xsd_B1308 SNAPSHOT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Mr. Klemens Schmid (SAP AG) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:sfobject.sfapi.successfactors.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sfobject.sfapi.successfactors.com" elementFormDefault="qualified">
  <xs:element name="queryResponse">
    <xs:annotation>
      <xs:documentation>Response of a query call to the CompoundEmployee API</xs:documentation>
      <xs:documentation>
        - Release 1308
        - Last modified 2013-07-24 by D021895
        - Added more custom fields to job
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="QueryResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompoundEmployee" type="SFObject">
    <xs:annotation>
      <xs:documentation>For import into BOOMI</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="compensationInformationType">
    <xs:annotation>
      <xs:documentation>Compensation information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" type="xs:long" minOccurs="0"/>
      <xs:element name="flsa_status" minOccurs="0">
        <xs:complexType/>
      </xs:element>
      <xs:element name="job_level" type="xs:string" minOccurs="0"/>
      <xs:element name="pay_type" type="xs:string" minOccurs="0"/>
      <xs:element name="start_date" type="xs:date" minOccurs="0"/>
      <xs:element name="end_date" type="xs:date" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="pay_group" type="xs:string" minOccurs="0"/>
      <xs:element name="payroll_id" type="xs:string" minOccurs="0"/>
      <xs:element name="paycompensation_recurring" type="paycompensationRecurringType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="phoneInformationType">
    <xs:annotation>
      <xs:documentation>Phone information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="country_code" type="xs:string" minOccurs="0"/>
      <xs:element name="area_code" type="xs:string" minOccurs="0"/>
      <xs:element name="phone_number" type="xs:string" minOccurs="0"/>
      <xs:element name="extension" type="xs:string" minOccurs="0"/>
      <xs:element name="phone_type" type="xs:string" minOccurs="0"/>
      <xs:element name="isPrimary" type="xs:boolean" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nationalIdCardType">
    <xs:annotation>
      <xs:documentation>National ID Card information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" type="xs:long" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="card_type" type="xs:string" minOccurs="0"/>
      <xs:element name="national_id" type="xs:string" minOccurs="0"/>
      <xs:element name="isPrimary" type="xs:boolean" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="employmentInformationType">
    <xs:annotation>
      <xs:documentation>Employment information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="user_id" type="xs:string" minOccurs="0"/>
      <xs:element name="jobNumber" type="xs:long" minOccurs="0"/>
      <xs:element name="start_date" type="xs:date" minOccurs="0"/>
      <xs:element name="end_date" type="xs:date" minOccurs="0"/>
      <xs:element name="originalStartDate" type="xs:date" minOccurs="0"/>
      <xs:element name="benefitsEndDate" type="xs:date" minOccurs="0"/>
      <xs:element name="bonusPayExpirationDate" type="xs:date" minOccurs="0"/>
      <xs:element name="salary_end_date" type="xs:date" minOccurs="0"/>
      <xs:element name="StockEndDate" type="xs:date" minOccurs="0"/>
      <xs:element name="isPrimary" type="xs:boolean" minOccurs="0"/>
      <xs:element name="seniorityDate" type="xs:date" minOccurs="0"/>
      <xs:element name="payrollEndDate" type="xs:date" minOccurs="0"/>
      <xs:element name="lastDateWorked" type="xs:date" minOccurs="0"/>
      <xs:element name="serviceDate" type="xs:date" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="firstDateWorked" type="xs:date" minOccurs="0"/>
      <xs:element name="professionalServiceDate" type="xs:date" minOccurs="0"/>
      <xs:element name="benefits_eligibility_start_date" type="xs:date" minOccurs="0"/>
      <xs:element name="custom_string1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string20" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string21" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string22" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string23" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string24" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string25" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string26" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string27" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string28" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string29" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string30" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string31" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string32" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string33" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string34" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string35" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string36" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string37" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string38" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string39" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string40" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string41" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string42" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string43" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string44" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string45" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string46" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string47" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string48" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string49" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string50" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string51" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string52" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string53" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string54" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string55" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string56" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string57" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string58" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string59" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string60" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string61" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string62" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string63" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string64" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string65" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string66" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string67" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string68" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string69" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string70" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string71" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string72" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string73" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string74" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string75" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string76" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string77" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string78" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string79" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string80" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string81" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string82" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string83" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string84" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string85" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string86" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string87" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string88" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string89" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string90" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string91" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string92" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string93" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string94" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string95" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string96" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string97" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string98" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string99" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string100" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date20" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date21" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date22" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date23" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date24" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date25" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date26" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date27" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date28" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date29" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date30" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double20" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long20" type="xs:string" minOccurs="0"/>
      <xs:element name="employment_id" type="xs:short" minOccurs="0"/>
      <xs:element name="direct_reports" type="xs:long" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Number of direct reports. Value greate 0 indicated that the person is a manager</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="planned_end_date" type="xs:date" minOccurs="0"/>
      <xs:element name="assignment_type" type="xs:string" minOccurs="0"/>
      <xs:element name="isHostAssignment" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates that this employment belong to a host assignment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="job_information" type="jobInformationType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="compensation_information" type="compensationInformationType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="paycompensation_non_recurring" type="paycompensationNonRecurringType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="payment_information" type="paymentInformationType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="job_relation" type="jobRelationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Relationship to employments of other employee</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accompanying_dependent" type="accompanyingDependentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Person accompanying the main person during a global assignment </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alternative_cost_distribution" type="costDistributionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Cost center distribution replacing the cost center in the job</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="emailInformationType">
    <xs:annotation>
      <xs:documentation>Email information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="email_address" type="xs:string" minOccurs="0"/>
      <xs:element name="email_type" type="xs:string" minOccurs="0"/>
      <xs:element name="isPrimary" type="xs:boolean" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="directDepositType">
    <xs:annotation>
      <xs:documentation>Direct Deposit information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" type="xs:long" minOccurs="0"/>
      <xs:element name="routing_number" type="xs:string" minOccurs="0"/>
      <xs:element name="account_number" type="xs:string" minOccurs="0"/>
      <xs:element name="account_name" type="xs:string" minOccurs="0"/>
      <xs:element name="account_type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>e.g. Savings, Checkings</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deposit_type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>E.g. Balance, Flat Amount, Percentage Account</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="xs:double" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Used if deposit type is Flat Amount or Percentage Account</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="processing_order" type="xs:long" minOccurs="0"/>
      <xs:element name="process_type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>e.g. Payroll, Bonus, Expenses</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="country_code" type="xs:string" minOccurs="0"/>
      <xs:element name="currency_code" type="xs:string" minOccurs="0"/>
      <xs:element name="iban" type="xs:string" minOccurs="0"/>
      <xs:element name="bank_control_key" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Type of account, e.g. checking account or savings account</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personalInformationType">
    <xs:annotation>
      <xs:documentation>Personal information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" type="xs:long" minOccurs="0"/>
      <xs:element name="start_date" type="xs:date" minOccurs="0"/>
      <xs:element name="end_date" type="xs:date" minOccurs="0"/>
      <xs:element name="marital_status" type="xs:string" minOccurs="0"/>
      <xs:element name="native_preferred_lang" type="xs:string" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="gender" type="xs:string" minOccurs="0"/>
      <xs:element name="first_name" type="xs:string" minOccurs="0"/>
      <xs:element name="last_name" type="xs:string" minOccurs="0"/>
      <xs:element name="middle_name" type="xs:string" minOccurs="0"/>
      <xs:element name="suffix" type="xs:string" minOccurs="0"/>
      <xs:element name="salutation" type="xs:string" minOccurs="0"/>
      <xs:element name="first_name_alt1" type="xs:string" minOccurs="0"/>
      <xs:element name="last_name_alt1" type="xs:string" minOccurs="0"/>
      <xs:element name="nationality" type="xs:string" minOccurs="0"/>
      <xs:element name="initials" type="xs:string" minOccurs="0"/>
      <xs:element name="second_title" type="xs:string" minOccurs="0"/>
      <xs:element name="since" type="xs:date" minOccurs="0"/>
      <xs:element name="name_prefix" type="xs:string" minOccurs="0"/>
      <xs:element name="birth_name" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <!-- <xs:element name="preferred_name" type="xs:string" minOccurs="0"/> -->
      <xs:element name="is_overridden" type="xs:boolean" minOccurs="0"/>
      <xs:element name="display_name" type="xs:string" minOccurs="0"/>
      <xs:element name="display_name_alt1" type="xs:string" minOccurs="0"/>
      <xs:element name="display_name_alt2" type="xs:string" minOccurs="0"/>
      <xs:element name="formal_name" type="xs:string" minOccurs="0"/>
      <xs:element name="formal_name_alt1" type="xs:string" minOccurs="0"/>
      <xs:element name="formal_name_alt2" type="xs:string" minOccurs="0"/>
      <xs:element name="name_format" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string20" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double20" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long20" type="xs:string" minOccurs="0"/>
      <xs:element name="personal_information_are" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>United Arab of Emirates</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_arg" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Argentina</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_aus" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Australia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_aut" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Austria</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_bel" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Belgium</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_bgr" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Bulgaria</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_bra" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Brazil</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_can" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Canada</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_che" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Switzerland</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_chl" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Chile</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_chn" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>China</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_col" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Colombia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_cze" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Czech Republic</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_deu" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Germany</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_dnk" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Denmark</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_esp" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Spain</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_fin" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Finland</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_fra" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>France</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_gbr" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Great Britain</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_grc" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Greece</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_hkg" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Hong Kong</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_hrv" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Croatia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_hun" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Hungary</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_idn" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Indonesia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_ind" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>India</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_irl" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Irland</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_ita" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>IItaly</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_jpn" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Japan</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_kor" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Korea Republic</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_mex" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Mexico</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_mys" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Malaysia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_nld" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Netherlands</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_nor" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Norway</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_nzl" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>New Zealand</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_phl" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Philippines</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_pol" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Poland</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_prt" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Portugal</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_qat" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Qatar</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_rou" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Romania</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_rus" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Russia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_sau" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Saudi Arabia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_sgp" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Singapore</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_svk" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Slovakia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_svn" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Slovenia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_swe" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Sweden</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_ukr" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ukraine</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_usa" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>United States of America</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_tha" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Thailand</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_twn" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Taiwan</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_ven" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Venezuela</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="personal_information_zaf" type="personalInformationPerCountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>South Africa</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addressInformationType">
    <xs:annotation>
      <xs:documentation>Address information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" type="xs:long" minOccurs="0"/>
      <xs:element name="address_type" type="xs:string" minOccurs="0"/>
      <xs:element name="address1" type="xs:string" minOccurs="0"/>
      <xs:element name="address2" type="xs:string" minOccurs="0"/>
      <xs:element name="address3" type="xs:string" minOccurs="0"/>
      <xs:element name="address4" type="xs:string" minOccurs="0"/>
      <xs:element name="address5" type="xs:string" minOccurs="0"/>
      <xs:element name="address6" type="xs:string" minOccurs="0"/>
      <xs:element name="address7" type="xs:string" minOccurs="0"/>
      <xs:element name="address8" type="xs:string" minOccurs="0"/>
      <xs:element name="address9" type="xs:string" minOccurs="0"/>
      <xs:element name="address10" type="xs:string" minOccurs="0"/>
      <xs:element name="address11" type="xs:string" minOccurs="0"/>
      <xs:element name="address12" type="xs:string" minOccurs="0"/>
      <xs:element name="address13" type="xs:string" minOccurs="0"/>
      <xs:element name="address14" type="xs:string" minOccurs="0"/>
      <xs:element name="address15" type="xs:string" minOccurs="0"/>
      <xs:element name="address16" type="xs:string" minOccurs="0"/>
      <xs:element name="address17" type="xs:string" minOccurs="0"/>
      <xs:element name="address18" type="xs:string" minOccurs="0"/>
      <xs:element name="address19" type="xs:string" minOccurs="0"/>
      <xs:element name="address20" type="xs:string" minOccurs="0"/>
      <xs:element name="address1_alt1" type="xs:string" minOccurs="0"/>
      <xs:element name="address1_alt2" type="xs:string" minOccurs="0"/>
      <xs:element name="address2_alt1" type="xs:string" minOccurs="0"/>
      <xs:element name="address2_alt2" type="xs:string" minOccurs="0"/>
      <xs:element name="address3_alt1" type="xs:string" minOccurs="0"/>
      <xs:element name="address3_alt2" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="county" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="province" type="xs:string" minOccurs="0"/>
      <xs:element name="zip_code" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="start_date" type="xs:date" minOccurs="0"/>
      <xs:element name="end_date" type="xs:date" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="custom_string1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string20" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double20" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long20" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jobInformationType">
    <xs:annotation>
      <xs:documentation>Job information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" type="xs:long" minOccurs="0"/>
      <xs:element name="job_title" type="xs:string"/>
      <xs:element name="job_code" type="xs:string"/>
      <xs:element name="department" type="xs:string" minOccurs="0"/>
      <xs:element name="division" type="xs:string" minOccurs="0"/>
      <xs:element name="location" type="xs:string" minOccurs="0"/>
      <xs:element name="start_date" type="xs:date">
        <xs:annotation>
          <xs:documentation>effective start date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="end_date" type="xs:date">
        <xs:annotation>
          <xs:documentation>effective end date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="created_on" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>date/time when the job info was created</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="last_modified_on" type="xs:dateTime"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
      <xs:element name="business_unit" type="xs:string" minOccurs="0"/>
      <xs:element name="cost_center" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Can be overwriitten by segment alternative_cost_distribution</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="employee_class" type="xs:string" minOccurs="0"/>
      <xs:element name="employee_type" type="xs:string" minOccurs="0"/>
      <xs:element name="employment_type" type="xs:string" minOccurs="0"/>
      <xs:element name="fte" type="xs:double" minOccurs="0"/>
      <xs:element name="regular_temp" type="xs:string" minOccurs="0"/>
      <xs:element name="standard_hours" type="xs:string" minOccurs="0"/>
      <xs:element name="is_fulltime_employee" type="xs:boolean" minOccurs="0"/>
      <xs:element name="pay_grade" type="xs:string" minOccurs="0"/>
      <xs:element name="pay_group" type="xs:string" minOccurs="0"/>
      <xs:element name="event_reason" type="xs:string" minOccurs="0"/>
      <xs:element name="workingDaysPerWeek" type="xs:double" minOccurs="0"/>
      <xs:element name="payScaleArea" type="xs:string" minOccurs="0"/>
      <xs:element name="payScaleType" type="xs:string" minOccurs="0"/>
      <xs:element name="timezone" type="xs:string" minOccurs="0"/>
      <xs:element name="position" type="xs:long" minOccurs="0"/>
      <xs:element name="manager_employment_id" type="xs:long" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Is this filled actually?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="is_primary" type="xs:boolean" minOccurs="0"/>
      <xs:element name="local_job_title" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string20" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string21" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string22" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string23" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string24" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string25" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string26" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string27" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string28" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string29" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string30" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string31" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string32" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string33" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string34" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string35" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string36" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string37" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string38" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string39" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string40" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string41" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string42" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string43" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string44" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string45" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string46" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string47" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string48" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string49" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string50" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string51" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string52" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string53" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string54" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string55" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string56" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string57" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string58" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string59" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string60" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string61" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string62" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string63" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string64" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string65" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string66" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string67" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string68" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string69" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string70" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string71" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string72" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string73" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string74" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string75" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string76" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string77" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string78" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string79" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string80" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string81" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string82" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string83" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string84" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string85" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string86" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string87" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string88" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string89" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string90" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string91" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string92" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string93" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string94" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string95" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string96" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string97" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string98" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string99" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_string100" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date20" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date21" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date22" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date23" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date24" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date25" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date26" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date27" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date28" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date29" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_date30" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_double20" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long1" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long2" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long3" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long4" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long5" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long6" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long7" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long8" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long9" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long10" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long11" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long12" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long13" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long14" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long15" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long16" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long17" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long18" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long19" type="xs:string" minOccurs="0"/>
      <xs:element name="custom_long20" type="xs:string" minOccurs="0"/>
      <xs:element name="manager_id" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>UsersSysId od the manager</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="manager_person_id" type="xs:long" minOccurs="0">
        <xs:annotation>
          <xs:documentation>personId of the manager</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="manager_category" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>category of the manager</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="company_territory_code" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Territory/country code of related company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="emplStatus" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Employment status related to the event taken from the jobInfo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="event" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Event taken from the jobInfo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="payroll_event" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Payroll event related to the event taken from the EventReasonFO record </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paycompensationNonRecurringType">
    <xs:annotation>
      <xs:documentation>Non-recurring payment information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" type="xs:long" minOccurs="0"/>
      <xs:element name="pay_component_code" type="xs:string" minOccurs="0"/>
      <xs:element name="pay_date" type="xs:date" minOccurs="0"/>
      <xs:element name="value" type="xs:double" minOccurs="0"/>
      <xs:element name="currency_code" type="xs:string" minOccurs="0"/>
      <xs:element name="alternative_cost_center" type="xs:string" minOccurs="0"/>
      <xs:element name="pay_component_type" type="xs:string" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="costDistributionType">
    <xs:annotation>
      <xs:documentation>alternative cost distribution information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="effectiveStartDate" type="xs:date" minOccurs="0"/>
      <xs:element name="effectiveEndDate" type="xs:date" minOccurs="0"/>
      <xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="alternative_cost_distribution_item" type="costDistributionItemType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paycompensationRecurringType">
    <xs:annotation>
      <xs:documentation>Recurring payent information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" type="xs:long" minOccurs="0"/>
      <xs:element name="pay_component" type="xs:string" minOccurs="0"/>
      <xs:element name="currency_code" type="xs:string" minOccurs="0"/>
      <xs:element name="paycompvalue" type="xs:double" minOccurs="0"/>
      <xs:element name="frequency" type="xs:string" minOccurs="0"/>
      <xs:element name="start_date" type="xs:date" minOccurs="0"/>
      <xs:element name="end_date" type="xs:date" minOccurs="0"/>
      <xs:element name="pay_component_type" type="xs:string" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime"/>
      <xs:element name="annualizationFactor" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SFObject">
    <xs:annotation>
      <xs:documentation>Generic type enriched by the compound employee part</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="person" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="person_id" type="xs:short" minOccurs="0"/>
            <xs:element name="date_of_birth" type="xs:date" minOccurs="0"/>
            <xs:element name="person_id_external" type="xs:string" minOccurs="0"/>
            <xs:element name="date_of_death" type="xs:date" minOccurs="0"/>
            <xs:element name="country_of_birth" type="xs:string" minOccurs="0"/>
            <xs:element name="region_of_birth" type="xs:string" minOccurs="0"/>
            <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="birth_name" type="xs:string" minOccurs="0"/>
            <xs:element name="place_of_birth" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string1" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string2" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string3" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string4" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string5" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string6" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string7" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string8" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string9" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string10" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string11" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string12" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string13" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string14" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string15" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string16" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string17" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string18" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string19" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_string20" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_date1" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_date2" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_date3" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_date4" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_date5" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_date6" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_date7" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_date8" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_date9" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_date10" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long1" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long2" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long3" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long4" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long5" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long6" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long7" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long8" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long9" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long10" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long11" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long12" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long13" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long14" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long15" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long16" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long17" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long18" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long19" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_long20" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double1" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double2" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double3" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double4" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double5" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double6" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double7" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double8" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double9" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double10" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double11" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double12" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double13" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double14" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double15" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double16" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double17" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double18" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double19" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_double20" type="xs:string" minOccurs="0"/>
            <xs:element name="logon_user_name" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>The user name which is used for logon. Is only provided if segment employment_information is requested.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="logon_user_id" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>The users_sys_id of the employment related to the home assignment. Is only provided if segment employment_information is requested.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="logon_user_is_active" type="xs:boolean" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Indicates that logon user is marked as active in table USERS_SYS_ID. Is only provided if segment employment_information is requested.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="personal_information" type="personalInformationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="address_information" type="addressInformationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="phone_information" type="phoneInformationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="email_information" type="emailInformationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="snapshot" minOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="asOfDate" type="xs:date"></xs:element>
                  <xs:element name="personal_information" type="personalInformationType" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="address_information" type="addressInformationType" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="employment_information" type="employmentInformationType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="log" minOccurs="0">
        <xs:annotation>
          <xs:documentation>reports error messages related to the person</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="log_item" type="logItemType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>a single error message</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryResult">
    <xs:annotation>
      <xs:documentation>Root structure</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sfobject" type="SFObject" maxOccurs="unbounded"/>
      <xs:element name="numResults" type="xs:short"/>
      <xs:element name="hasMore" type="xs:boolean"/>
      <xs:element name="querySessionId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personalInformationPerCountryType">
    <xs:annotation>
      <xs:documentation>Country-specific personal information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="country" type="xs:string"/>
      <xs:element name="genericString1" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString2" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString3" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString4" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString5" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString6" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString7" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString8" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString9" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString10" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString11" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString12" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString13" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString14" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString15" type="xs:string" minOccurs="0"/>
      <xs:element name="genericString16" type="xs:string" minOccurs="0"/>
      <xs:element name="genericDate1" type="xs:date" minOccurs="0"/>
      <xs:element name="genericNumber1" type="xs:string" minOccurs="0"/>
      <xs:element name="genericNumber2" type="xs:string" minOccurs="0"/>
      <xs:element name="genericNumber3" type="xs:string" minOccurs="0"/>
      <xs:element name="genericNumber4" type="xs:string" minOccurs="0"/>
      <xs:element name="genericNumber5" type="xs:string" minOccurs="0"/>
      <xs:element name="genericNumber6" type="xs:string" minOccurs="0"/>
      <xs:element name="genericNumber7" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentInformationType">
    <xs:annotation>
      <xs:documentation>Payment information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="payment_method" type="xs:string"/>
      <xs:element name="last_modified_on" type="xs:dateTime"/>
      <xs:element name="start_date" type="xs:date"/>
      <xs:element name="end_date" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="costDistributionItemType">
    <xs:annotation>
      <xs:documentation>alternative cost distribution item</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="costCenter" type="xs:string"/>
      <xs:element name="percentage" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personRelationType">
    <xs:annotation>
      <xs:documentation>Dependents of the person</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start_date" type="xs:date" minOccurs="0"/>
      <xs:element name="end_date" type="xs:date" minOccurs="0"/>
      <xs:element name="related_person_id" type="xs:string" minOccurs="0"/>
      <xs:element name="relationship_type" type="xs:string" minOccurs="0"/>
      <xs:element name="is_address_same_as_person" type="xs:boolean" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jobRelationType">
    <xs:annotation>
      <xs:documentation>Persons related to an employment</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start_date" type="xs:date" minOccurs="0"/>
      <xs:element name="end_date" type="xs:date" minOccurs="0"/>
      <xs:element name="relationship_type" type="xs:string" minOccurs="0"/>
      <xs:element name="last_modified_on" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="user_id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accompanyingDependentType">
    <xs:annotation>
      <xs:documentation>Persons accompanying an employee during a global assignment</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="related_person_id" type="xs:short"/>
      <xs:element name="last_modified_on" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
   <xs:complexType name="logItemType">
    <xs:annotation>
      <xs:documentation>Log item specifying issues with the person</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="node_name" type="xs:Name" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Name of the node containing the erroneous field</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="field_name" type="xs:Name" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Name of the field causing the error</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xpath" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>XPath expression denoting the node where the error occurred</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="person_id" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Person Id for which the error occured</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="person_id_external" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Person Id external for which the error occured</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="message_text" type="xs:string">
        <xs:annotation>
          <xs:documentation>User-friendly message text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
