package/integration_flows/sf_ec_to_wfn_demographic/src/main/resources/wsdl/ED_WFS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.workforcesoftware.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ws.apache.org/axis2/xsd"
			elementFormDefault="qualified" attributeFormDefault="qualified"
			xmlns:ax2282="http://webservices.workforcesoftware.com/xsd"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p0="http://ws.apache.org/axis2/xsd">
			<xsd:import namespace="http://webservices.workforcesoftware.com/xsd" />
			<xsd:complexType name="E2g_employee_import_payload">
				<xsd:sequence>
					<xsd:element name="data" type="p0:E2g_employee_import_people"
						minOccurs="0" nillable="true" />
					<xsd:element name="properties" type="p0:E2g_employee_import_properties"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_people">
				<xsd:sequence>
					<xsd:element name="person" type="p0:E2g_employee_import_person"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_person">
				<xsd:sequence>
					<xsd:element name="birth_date" type="xsd:string"
						minOccurs="0" maxOccurs="1" nillable="true" />
					<xsd:element name="email_addresses"
						type="p0:E2g_employee_import_email_addresses" minOccurs="0" maxOccurs="1"
						nillable="true" />
					<xsd:element name="employee_data" maxOccurs="1" type="p0:E2g_employee_import_employee"
						minOccurs="0" nillable="true" />
					<xsd:element name="external_hr_id" type="xsd:string"
						minOccurs="1" maxOccurs="1" nillable="true" />
					<xsd:element name="first_name" type="xsd:string"
						minOccurs="1" maxOccurs="1" nillable="true" />
					<xsd:element name="home_address" type="p0:E2g_employee_import_address"
						minOccurs="0" nillable="true" />
					<xsd:element name="last_modification_time" type="xsd:string"
						minOccurs="1" maxOccurs="1" nillable="true" />
					<xsd:element name="last_name" type="xsd:string"
						minOccurs="1" maxOccurs="1" nillable="true" />
					<xsd:element name="middle_name" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="phone_numbers"
						type="p0:E2g_employee_import_phone_numbers" minOccurs="0"
						nillable="true" />
					<xsd:element name="user_data" type="p0:E2g_employee_import_user"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_email_addresses">
				<xsd:sequence>
					<xsd:element name="email_address"
						type="p0:E2g_employee_import_email_address" minOccurs="0"
						maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_email_address">
				<xsd:sequence>
					<xsd:element name="email_address" type="xsd:string"
						minOccurs="0" maxOccurs="1" nillable="true" />
					<xsd:element name="type" maxOccurs="1" type="xsd:string" minOccurs="0"
						nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_employee">
				<xsd:sequence>
					<xsd:element name="assignment" type="p0:E2g_employee_import_assignment"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="eff_dated_info"
						type="p0:E2g_employee_import_all_eff_dated_employee_info"
						minOccurs="0" maxOccurs="1" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_assignment">
				<xsd:sequence>
					<xsd:element name="assignment_match_id" type="xsd:string"
						minOccurs="0" maxOccurs="1" nillable="true" />
					<xsd:element name="eff_dated_info"
						type="p0:E2g_employee_import_all_eff_dated_assignment_info"
						minOccurs="0" maxOccurs="1" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_all_eff_dated_assignment_info">
				<xsd:sequence>
					<xsd:element name="data"
						type="p0:E2g_employee_import_eff_dated_assignment_info" minOccurs="0"
						maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_eff_dated_assignment_info">
				<xsd:sequence>
					<xsd:element name="adjusted_begin_date" type="xsd:string"
						minOccurs="0" nillable="true" />

					<xsd:element name="assignment_description" type="xsd:string"
						minOccurs="1" maxOccurs="1" nillable="true" />
					<xsd:element name="assignment_end_date" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="badge_id" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="business_address" type="p0:E2g_employee_import_address"
						minOccurs="0" nillable="true" />
					<xsd:element name="company_code" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="cost_center" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="department_code" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="district_code" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="division_code" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="effective_date" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="employment_type" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="external_payroll_id" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="flsa_status" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="fulltime_equivalency_percentage"
						type="xsd:float" minOccurs="0" nillable="true" />
					<xsd:element name="fulltime_parttime_flag" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="generic_fields" type="p0:E2g_generic_fields"
						minOccurs="0" nillable="true" />
					<xsd:element name="hourly_salary_flag" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="hr_status" type="xsd:string"
						minOccurs="0" nillable="true" />
						<!--
					<xs:element minOccurs="0" name="is_earliest_effective_dated"
						nillable="true" type="xsd:boolean" />
					  -->
					<xsd:element name="is_primary" type="xsd:boolean"
						minOccurs="1" maxOccurs="1" nillable="true" />
					<xsd:element name="is_terminated" type="xsd:boolean"
						minOccurs="1" maxOccurs="1" nillable="true" />
					<xsd:element name="job_code" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="job_level" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="job_title" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="latest_assignment_begin_date" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="location_code" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="manager_ids" type="p0:E2g_employee_import_manager_ids"
						minOccurs="0" nillable="true" />
					<xsd:element name="original_assignment_begin_date"
						type="xsd:string" minOccurs="0" nillable="true" />
					<xsd:element name="pay_currency" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="pay_grade" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="pay_rates" type="p0:E2g_employee_import_pay_rates"
						minOccurs="0" nillable="true" />
					<xsd:element name="payroll_system_id" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="policy_profile_match_id" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="region_code" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="schedule_template_match_id" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="seniority_date" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="standard_daily_hours" type="xsd:float"
						minOccurs="0" nillable="true" />
					<xsd:element name="standard_period_hours" type="xsd:float"
						minOccurs="0" nillable="true" />
					<xsd:element name="standard_weekly_hours" type="xsd:float"
						minOccurs="0" nillable="true" />
					<xsd:element name="time_zone" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="union_code" type="xsd:string"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_address">
				<xsd:sequence>
					<xsd:element name="address1" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="address2" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="address3" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="city" type="xsd:string" minOccurs="0"
						nillable="true" />
					<xsd:element name="country" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="postal_code" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="state_or_province" type="xsd:string"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_generic_fields">
				<xsd:sequence>
					<xsd:element name="generic_field" type="p0:E2g_generic_field"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_generic_field">
				<xsd:sequence>
					<xsd:element name="fieldName" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="fieldValue" type="xsd:string"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_manager_ids">
				<xsd:sequence>
					<xsd:element name="manager_id" type="p0:E2g_employee_import_manager_id"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_manager_id">
				<xsd:sequence>
					<xsd:element name="manager_id" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="type" type="xsd:string" minOccurs="0"
						nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_pay_rates">
				<xsd:sequence>
					<xsd:element name="pay_rate" type="p0:E2g_employee_import_pay_rate"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_pay_rate">
				<xsd:sequence>
					<xsd:element name="frequency" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="pay_rate" type="xsd:float"
						minOccurs="0" nillable="true" />
					<xsd:element name="type" type="xsd:string" minOccurs="0"
						nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_all_eff_dated_employee_info">
				<xsd:sequence>
					<xsd:element name="data"
						type="p0:E2g_employee_import_eff_dated_employee_info" minOccurs="0"
						maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_eff_dated_employee_info">
				<xsd:sequence>
					<xsd:element name="act_company" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="act_employee_group" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="act_location" type="p0:E2g_employee_import_act_location"
						minOccurs="0" nillable="true" />
					<xsd:element name="adjusted_hire_date" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="country_code" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="effective_date" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="fifty_employees_in_75_mile_radius_flag"
						type="xsd:string" minOccurs="0" nillable="true" />
					<xsd:element name="fulltime_equivalency_percentage"
						type="xsd:float" minOccurs="0" nillable="true" />
					<xsd:element name="gender" type="xsd:string" minOccurs="0"
						nillable="true" />
					<xsd:element name="generic_fields" type="p0:E2g_generic_fields"
						minOccurs="0" nillable="true" />
					<xsd:element name="hr_status" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="latest_hire_date" type="xsd:string"
						minOccurs="1" maxOccurs="1" nillable="true" />
					<xsd:element name="leave_type" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="original_hire_date" type="xsd:string"
						minOccurs="1" maxOccurs="1" nillable="true" />
					<xsd:element name="standard_daily_hours" type="xsd:float"
						minOccurs="0" nillable="true" />
					<xsd:element name="standard_period_hours" type="xsd:float"
						minOccurs="0" nillable="true" />
					<xsd:element name="standard_weekly_hours" type="xsd:float"
						minOccurs="0" nillable="true" />
					<xsd:element name="terminatation_date" type="xsd:string"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_act_location">
				<xsd:sequence>
					<xsd:element name="city" type="xsd:string" minOccurs="0"
						nillable="true" />
					<xsd:element name="country" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="county" type="xsd:string" minOccurs="0"
						nillable="true" />
					<xsd:element name="state_or_province" type="xsd:string"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_phone_numbers">
				<xsd:sequence>
					<xsd:element name="phone_number" type="p0:E2g_employee_import_phone_number"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_phone_number">
				<xsd:sequence>
					<xsd:element name="phone_number" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="type" type="xsd:string" minOccurs="0"
						nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_user">
				<xsd:sequence>
					<xsd:element name="authentication_match_id" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="empcenter_login_id" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="generic_fields" type="p0:E2g_generic_fields"
						minOccurs="0" nillable="true" />
					<xsd:element name="language" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="manager_types" type="p0:E2g_employee_import_manager_type"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="user_role_match_id" type="xsd:string"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_manager_type">
				<xsd:sequence>
					<xsd:element name="manager_type" type="xsd:string"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_properties">
				<xsd:sequence>
					<xsd:element name="property" type="p0:E2g_employee_import_property"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_property">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" minOccurs="0"
						nillable="true" />
					<xsd:element name="value" type="xsd:string" minOccurs="0"
						nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2G_importEmployeesResult">
				<xsd:complexContent>
					<xsd:extension base="ax2282:WSResultObjectBase">
						<xsd:sequence>
							<xsd:element name="result" type="p0:E2g_employee_import_response"
								minOccurs="0" nillable="true" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_response">
				<xsd:sequence>
					<xsd:element name="additional_error_message" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="import_stats" type="p0:E2g_employee_import_stats"
						minOccurs="0" nillable="true" />
					<xsd:element name="logId" type="xsd:int" minOccurs="0"
						nillable="true" />
					<xsd:element name="status_message" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="successful" type="xsd:boolean"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="E2g_employee_import_stats">
				<xsd:sequence>
					<xsd:element name="discarded_employees" type="xsd:int"
						minOccurs="0" nillable="true" />
					<xsd:element name="employees_with_system_errors" type="xsd:int"
						minOccurs="0" nillable="true" />
					<xsd:element name="employees_with_validation_errors"
						type="xsd:int" minOccurs="0" nillable="true" />
					<xsd:element name="employees_with_warnings" type="xsd:int"
						minOccurs="0" nillable="true" />
					<xsd:element name="new_employees" type="xsd:int"
						minOccurs="0" nillable="true" />
					<xsd:element name="total_employees" type="xsd:int"
						minOccurs="0" nillable="true" />
					<xsd:element name="updated_employees" type="xsd:int"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://webservices.workforcesoftware.com/xsd"
			elementFormDefault="qualified" attributeFormDefault="qualified"
			xmlns:p0="http://webservices.workforcesoftware.com/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType name="WSResultObjectBase">
				<xsd:sequence>
					<xsd:element name="detailedErrorMessage" type="xsd:string"
						minOccurs="0" nillable="true" />
					<xsd:element name="operationSuccessful" type="xsd:boolean"
						minOccurs="0" />
					<xsd:element name="resultCode" type="xsd:int"
						minOccurs="0" />
					<xsd:element name="resultDescription" type="xsd:string"
						minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://services.workforcesoftware.com/xsd"
			elementFormDefault="qualified" attributeFormDefault="qualified"
			xmlns:p0="http://services.workforcesoftware.com/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:ax2280="http://ws.apache.org/axis2/xsd">
			<xsd:import namespace="http://ws.apache.org/axis2/xsd" />
			<xsd:element name="E2G_importEmployees">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="payload" type="ax2280:E2g_employee_import_payload"
							minOccurs="0" nillable="true" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="E2G_importEmployeesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="ax2280:E2G_importEmployeesResult"
							minOccurs="0" nillable="true" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="E2G_importEmployeesRequest">
		<wsdl:part name="parameters" element="ns:E2G_importEmployees"
			xmlns:ns="http://services.workforcesoftware.com/xsd" />
	</wsdl:message>
	<wsdl:message name="E2G_importEmployeesResponse">
		<wsdl:part name="parameters" element="ns:E2G_importEmployeesResponse"
			xmlns:ns="http://services.workforcesoftware.com/xsd" />
	</wsdl:message>
</wsdl:definitions>
