package/integration_flows/sf_ec_to_wfn_demographic/src/main/resources/wsdl/EMEventEntityUPSERT1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EMEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="EMEvent">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="process">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="EMMonitoredProcess">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="moduleName" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="processInstanceName" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="processType" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="processDefinitionId" xmlns=""/>
                                                    <xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="monitoredProcessId" xmlns=""/>
                                                    <xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="firstEventTime" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="processDefinitionName" xmlns=""/>
                                                    <xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="lastEventTime" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="processInstanceId" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="eventPayload">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="EMEventPayload">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="id" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="type" xmlns=""/>
                                                    <xs:element type="xs:base64Binary" nillable="false" maxOccurs="unbounded" name="payload" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="eventType" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="eventDescription" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="eventTime" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="eventName" xmlns=""/>
                            <xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="id" xmlns=""/>
                            <xs:element minOccurs="0" maxOccurs="1" name="link">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="process">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="EMMonitoredProcess">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="processDefinitionId" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="processInstanceId" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="processType" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="eventPayload">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="EMEventPayload">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:long" minOccurs="1" maxOccurs="1" name="id" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
